body {
  font-family: Helvetica;
}
.app {
  margin-top: 20px;
  margin-bottom: 20px;
}

.message {
  height: 7%;
  border: black solid;
}

.user {
  font-size: 20px;
  font-weight: bold;
  color: red;
}

.content {
  font-size: 14px;
}

